<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="DevObj" class="Dev"/>-->

<!--CONSTRUCTOR INJECION OF LAPTOP INTO DEV-->
<!--    <bean id="DevObj" class="Dev">-->
<!--        <constructor-arg ref="LaptopObj"/>-->
<!--    </bean>-->

<!--SETTER INJECITON OF LAPTOP INTO DEV-->
<!--    <bean id="DevObj" class="Dev">-->
<!--        <property name="laptop" ref="LaptopObj"/>-->
<!--    </bean>-->

<!--AUTOWIRING-->
    <bean id="DevObj" class="Dev" autowire="byType"></bean>
    <bean id="lap" class="Laptop" primary="true"></bean>
    <bean id="com" class="Desktop"></bean>

</beans>